BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

LOCATE COMP "gpdi_dp[0]" SITE "A16";
LOCATE COMP "gpdi_dn[0]" SITE "B16";
LOCATE COMP "gpdi_dp[1]" SITE "A14";
LOCATE COMP "gpdi_dn[1]" SITE "C14";
LOCATE COMP "gpdi_dp[2]" SITE "A12";
LOCATE COMP "gpdi_dn[2]" SITE "A13";
LOCATE COMP "gpdi_dp[3]" SITE "A17";
LOCATE COMP "gpdi_dn[3]" SITE "B18";
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;
